{% load static %}
<footer class="footer footer-transparent d-print-none ">
    <div class="container-xl">
      <div class="row text-center align-items-center flex-row-reverse">
        <div class="col-lg-auto ms-lg-auto">
          <ul class="list-inline list-inline-dots mb-0">
            
            <li class="list-inline-item d-flex justify-content-center align-items-center border py-1 px-2 rounded  border-1" style="border-color:#a291a4 !important ;" >
              
              <a href="https://chargily.com/"  target="_blank" class="link-secondary" rel="noopener" style="text-decoration: none;">
                <!-- Download SVG icon from http://tabler-icons.io/i/heart -->
                <img src="{% static 'images/chargily.jpeg' %}" alt="" srcset="" height="28" class="rounded">
                <span style="font-size: 15px;color: #783d7c;font-weight: bold;">Chargily</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-lg-auto mt-3 mt-lg-0">
          <ul class="list-inline list-inline-dots mb-0">
            <li class="list-inline-item">
              Copyright © 2022
              <a href="." class="link-secondary">Codingdz</a>.
              All rights reserved.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>